.editor {
  display: flex;
  font-family: sans-serif;
  background-color: rgb(8, 8, 8);
  height: 100vh;
}

.editor-canvas {
  padding: 1rem;
}

.editor-toolbar {
  border: 1px solid gray;
  padding: .5rem;
  color: white;
  flex-basis: 20rem;
}

.grid {
  display: grid;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.object {
  position: relative;
  overflow: hidden;
  z-index: 100;
  user-select: none;
  background-size: cover;
  background-repeat: no-repeat;

  &:hover {
    outline: 1px solid red;
  }
  &.img {
    background: black;
  }
  &.text {
    color: black;
  }
}

.object video, .object iframe {
  min-width: 100%;
  min-height: 100%;
}

.cursor {
  background: black;
  pointer-events: none;
}

.placeholder {
  z-index: 100;
  border: 2px solid rgb(21, 255, 0);
  border-radius: 1px;
}