.settings {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    button {
        appearance: none;
        background: 0;
        width: 100%;
        padding: .3rem;
        text-align-last: left;
        border: 1px solid black;
        &:hover {
            &.danger{
                background: red;
            }
            cursor: pointer;
        }
    }
    .toggle {
        &[data-active=true]{
            background: black;
            color: white;
        }
    }
}
.setting {
    margin-bottom: 1rem;
}
label {
    font-size: .9rem;
    display: block;
    margin-bottom: 0rem;
}