* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
  background: rgb(250,250,250);
}

.editor {
  display: flex;
}

.editor-toolbar {
  border: 1px solid gray;
  margin-right: .5rem;
  padding: .5rem;
}

.grid {
  display: grid;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-right: 1px solid  rgba(0,0,0,0.2);
}

.object {
  background: black;
  position: relative;
  overflow: hidden;
  z-index: 100;
  user-select: none;
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
}

.object video {
  min-width: 100%;
  min-height: 100%;
}

.cursor {
  background: black;
  pointer-events: none;
}

.placeholder {
  z-index: 100;
  border: 2px solid rgb(21, 255, 0);
  border-radius: 1px;
}

.world {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}