.contactForm {
    input {
        padding: .2em;
    }
    .button {
        margin-top: .5em;
        width: 100%;
        appearance: none;
        border: 1px solid black;
        background: white;
        font-family: inherit;
        padding: .2em;
        border-radius: 3px;
        cursor: pointer;
        &:hover, &:focus {
            background-color: black;
            color: white;
        }
    }
}