.toolbox {
    ul {
        border: 1px solid black;
    }
    li {
        border-bottom: 1px solid black;
        list-style: none;
        display: flex;
        padding: .3rem;
        align-items: center;
        cursor: pointer;

        &[data-active=true] {
            background-color: black;
            color: white;
        }

        &:hover,
        &:focus {
            background-color: black;
            color: white;
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}